own_entity_id: 'https://localhost/lightSAML/lightSAML-IDP''
id_provider: 'https://localhost/lightsaml/lightSAML-IDP/web/idp/login.php'
id_provider_name: 'name@id.com'
entity_store:
    - 'localhost-lightsaml-demosp.xml'
    - 'localhost-lightsaml-lightsaml.xml'
debug: false
session_ttl: 600
session_name: 'PHPSIDIDP'
cert_key: 'saml.key'
cert: 'saml.crt'
log: 'idp.log'
log_id: 'saml'
